:root {
    --width-wrapper: 1200px;
    --gap-section: 40px;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    height: 100%;
    /*font-size: var(--font-size);*/
    /*font-family: var(--kit-font-family);*/
}
.global-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.content.content--footer-outside {
    min-height: 100%;
    flex: 1 0 auto;
}
blockquote, .blockquote {
    margin: 0 0 1em;
}
