
.tooltip {
    --popper-border-color: #212121fa;
    --popper-border-width: 0em;
    --popper-arrow-width: 0.7em;
    --popper-color: #ffffff;
    --popper-content-color: #212121fa;
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: var(--popper-font-size);
    word-wrap: break-word;
    opacity: 0;
}

.tooltip.show {
    opacity: 0.9;
}

.tooltip-inner {
    width: max-content;
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: var(--popper-color);
    text-align: center;
    background-color: var(--popper-content-color);
    border-radius: 0.25rem;
    border: var(--popper-border-width) solid var(--popper-border-color);
    box-shadow: 0px 0px 5px -1px var(--popper-content-color);
}
