.toast {
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.toast.showing {
    opacity: 0;
}
.toast:not(.show) {
    display: none;
}

.toast-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    pointer-events: none;
}
.toast-container > :not(:last-child) {
    margin-bottom: 0.75rem;
}

.toast-title {
    margin-right: auto;
}
.toast-desc {}
.toast-icon {
    margin-right: 0.5em;
    max-width: 1.5em;
    max-height: 1.5em;
}
.toast-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.toast-header .btn-close {
    margin-right: -0.375rem;
    margin-left: 0.75rem;
}

.toast-body {
    padding: 0.75rem;
    word-wrap: break-word;
}

.toast-container--default {
    z-index: 10000;
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    padding: 1rem !important;
}
.toast--error .toast-icon svg {
    fill: var(--kit-color-error, red);
}
.toast--warning .toast-icon svg {
    fill: var(--kit-color-warning, orange);
}
.toast--info .toast-icon svg {
    fill: var(--kit-color-primary, dodgerblue);
}
.toast--success .toast-icon svg {
    fill: var(--kit-color-success, green);
}