.owl-carousel .owl-nav [class*='owl-']:hover svg {
    fill: black;
}

.owl-carousel {
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    /*z-index: 1;*/
}
.owl-carousel .owl-stage {
    position: relative;
    height: inherit;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    height: inherit;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
    height: inherit;
    width: inherit;
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav .owl-prev{
    float: left;
    position: relative;
    left: -100px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.owl-carousel .owl-nav .owl-next{
    float: right;
    position: relative;
    right: -100px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{
    /*top: 80px;*/
}

.arrow_center.owl-carousel .owl-nav .owl-prev,.arrow_center.owl-carousel .owl-nav .owl-next{
    /*top: 50%;*/
}

.gray_limiter .owl-carousel .owl-nav .owl-prev svg,
.gray_limiter .owl-carousel .owl-nav .owl-next svg {
    fill: #e5e5e5;

}

.owl-carousel .owl-nav .owl-prev svg,.owl-carousel .owl-nav .owl-next svg {
    fill: #e5e5e5;
    opacity: 1;
    width: 22px;
    transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev svg:hover,.owl-carousel .owl-nav .owl-next svg:hover{
    opacity: 1;
}
.owl-carousel.owl-loaded {
    display: block;
    overflow: visible !important;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
    display: none;
}
.owl-carousel.owl-drag .owl-item {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
.no-js .owl-carousel {
    display: block;
}
.owl-carousel.animated {
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    animation-name: fadeOut;
}
.owl-height {
    -moz-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -moz-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("../images/icon-play.svg") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-transition: -moz-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.owl-carousel .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 0 70px;
    text-align: right;
    pointer-events: none;
    height: 100%;
}
.owl-carousel .owl-nav [class*='owl-'] {
    pointer-events: auto;
    color: #fff;
    width: 50px;
    height: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 0;
    top: 50%;
    position: relative;
    /*-moz-transform: translate(0, -50%);*/
    /*-ms-transform: translate(0, -50%);*/
    /* -webkit-transform: translate(0, -50%); */
    /*-o-transform: translate(0, -50%);*/
    /* transform: translate(0, -50%); */
}
.owl-carousel .owl-nav [class*='owl-']:last-child {
    margin-left: -1px;
}
.owl-carousel .owl-nav [class*='owl-'] .sst-svg-icon {
    vertical-align: middle;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.owl-carousel .owl-nav [class*='owl-']:hover {
    color: #fff;
    text-decoration: none;
    z-index: 2;
}
.owl-carousel .owl-nav [class*='owl-'].disabled {
    cursor: default;
}
.owl-carousel .owl-nav [class*='owl-'].disabled .sst-svg-icon {
    opacity: 0.3;
}
.owl-carousel .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}
.owl-carousel .owl-dots .owl-dot span {
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    -moz-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}
.owl-carousel .owl-dots .owl-dot span:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 0;
    background: var(--kit-color-primary);
    /* -webkit-transform: scale(0); */
    /*-moz-transform: scale(0);*/
    /*-ms-transform: scale(0);*/
    /* transform: scale(0); */
    /* top: 50%; */
    /* left: 50%; */
    -moz-transition: -moz-transform 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active span:after,
.owl-carousel .owl-dots .owl-dot:hover span:after {
    background: var(--kit-color-primary-text);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 1px solid var(--kit-color-primary);
}
.owl-carousel--dots-outside .owl-dots {
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
}
.owl-carousel--side-controls .owl-nav {
    max-width: 1200px;
    width: 100%;
    top: 50%;
    height: 0;
}
.owl-carousel--side-controls .owl-nav [class*='owl-'] {
    top: 50%;
    margin-top: -20px;
    height: 40px;
    box-shadow: none;
    position: absolute;
}
.owl-carousel--side-controls .owl-nav [class*='owl-'].owl-prev {
    left: 5px;
}
.owl-carousel--side-controls .owl-nav [class*='owl-'].owl-next {
    right: 5px;
}
.owl-item {
    text-align: center;
}
.owl-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.owl-carousel .owl-dots {
    bottom: 40px;
}
@media (max-width: 719px) {
    .owl-carousel .owl-dots .owl-dot.active span:after {

    }
}
.owl-carousel .owl-dots .owl-dot span {

}
@media (min-width: 320px) {
    .owl-carousel .owl-dots .owl-dot span {

    }
}
@media (max-width: 719px) {
    .owl-carousel .owl-dots .owl-dot span:after {

    }
}