:root {
    --logger-color-emergency: hsl(0, 100%, 25%);
    --logger-color-alert: hsl(0, 100%, 45%);
    --logger-color-critical: hsl(0, 100%, 40%);
    --logger-color-error: hsl(0, 100%, 35%);
    --logger-color-warning: hsl(31, 100%, 55%);
    --logger-color-notice: #909090;
    --logger-color-info: hsl(205, 100%, 61%);
    --logger-color-debug: #673ab7;
    --logger-color-success: #8bc34a;
    --logger-depth-gap: 2em;
}
.kit-logger, #kit-logger {
    margin: 0;
    padding: 5px;
    font-family: monospace;
    background: hsl(0, 0%, 15%);
    color: #909090;
    overflow-y: scroll !important;
    word-break: break-all;
    display: block;
}
.kit-logger:empty, #kit-logger:empty {
    display: none;
}
.kit-logger--fixed {
    position: sticky;
    bottom: 0;
    height: 50vh;
}
logger-additional {
    opacity: 0.3;
}
logger-log {
    display: block;
    min-height: 1em;
}
logger-pair {
     display: block;
     min-height: 1em;
}
logger-log logger-pair > logger-context > logger-pair {
    padding-left: var(--logger-depth-gap);
}
logger-log logger-item__key > logger-pair > logger-context > logger-pair {
    padding-left: 0;
}
logger-item {
    margin: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    white-space: normal;
    word-break: break-all;
    font-size: 1em !important;
    line-height: calc(1.1em) !important;
    color: var(--logger-color-value, #c1c1c1);
    background-color: var(--logger-color-content-value, transparent);
}
logger-item__options {
    color: #606060;
}
logger-item__value * {
    color: inherit;
}
logger-item__value .logger-toggler {
    cursor: pointer;
    color: hsl(0, 0%, 75%) !important;
    opacity: 0.6;
    font-size: 0.8em !important;
    padding-left: 0.5em;
}
logger-item__msg {

}
logger-item__key {
    min-width: 2em;
    padding-right: 5px;
}
logger-item__key, logger-item__key > * {
    color: var(--logger-color-key, #909090);
}
logger-item__key:empty {
    display: none;
}
logger-item__value {
    flex: 1 0 0;
}
logger-item__value * {
    font-size: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
    white-space: inherit !important;
}
logger-pair > input[type="checkbox"]:checked ~ logger-item > logger-item__value .logger-toggler {
    opacity: 1;
}


.kit-logger-row--emergency {
    --logger-color-key: #fff;
    --logger-color-content-key: var(--logger-color-emergency);
    --logger-color-value: #fff;
    --logger-color-content-value: var(--logger-color-emergency);
}
.kit-logger-row--alert {
    --logger-color-key: var(--logger-color-alert);
    --logger-color-value: var(--logger-color-alert);
    font-weight: bold;
}
.kit-logger-row--critical {
    --logger-color-key: var(--logger-color-critical);
    --logger-color-value: var(--logger-color-critical);
}
.kit-logger-row--error {
    --logger-color-key: var(--logger-color-error);
    --logger-color-value: var(--logger-color-error);
}
.kit-logger-row--warning {
    --logger-color-key: var(--logger-color-warning);
    --logger-color-value: var(--logger-color-warning);
}
.kit-logger-row--notice {}
.kit-logger-row--info {
    --logger-color-key: var(--logger-color-info);
    --logger-color-value: var(--logger-color-info);
}
.kit-logger-row--debug {
    --logger-color-key: var(--logger-color-debug);
    --logger-color-value: var(--logger-color-debug);
}
.kit-logger-row--success {
    --logger-color-key: var(--logger-color-success);
    --logger-color-value: var(--logger-color-success);
}